.main-window {
    justify-content: center;
}

.button {
    width: 25%;
    height: 45px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
}

.welcome-window>.inner>.title {
    flex-grow: 5;
}

.welcome-window>.inner>.lower-items {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}