.main-window {
    justify-content: center;
}

.lower-items {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.lower-items>form {
    display: flex;
    flex-direction: column;
}

form>input {
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 10px;
}
