.main-window {
    background-color: rgb(199, 199, 196);
}

.content {
    height: 100%;
    background-color: blanchedalmond;
}

.content>.inner {
    padding-left: 5%;
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.note-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    height: 35px;
    margin-top: 1%;
    padding-left: 2%;
    background-color: red;
    border-radius: 25px;
}